* {
    box-sizing: border-box;
}

.flex-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .flex-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .flex-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .flex-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .flex-container {
        max-width: 1140px;
    }
}


.flex-row {
    display: flex
}

.wrap {
    flex-wrap: wrap;
}

.name-site {
    flex-basis: 20%;
}

.main-menu {
    padding: 5px;
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-right {
    flex-basis: 70%;
}

.main-menu a {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration: none;
}

.search {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.search input {
    margin-right: 10px;
    -webkit-appearance: textfield;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #c3c2c2;
    font-size: 16px;
}

.banner {
    background: darkgrey;
    height: 600px;
    clear: both;
    padding: 5px;
    /*position: relative;*/
}

.banner1 {
    background: darkgrey;
    height: 300px;
    padding: 5px;
    flex-basis: 100%;
}

.banner .text {
    width: 400px;
    margin-left: 15%;
    margin-top: 10%;
}

.banner .text span {
    font-size: 40px;
}

.banner .button {
    margin-left: 35%;
    margin-top: 70px;
}

.banner-midle .text {
    width: 300px;
    margin-right: 10%;
    margin-left: auto;
    margin-top: 80px;
}

.banner-midle .text span {
    font-size: 40px;
}

.banner-midle .button {
    margin-right: 10%;
    margin-left: auto;
    margin-top: 50px;
}

.button {
    padding: 10px 15px 10px 15px;
    border: 2px solid grey;
    border-radius: 5px;
    background: #2ebcd480;
    width: fit-content;
}

.hot-offer {
    justify-content: space-between;
}

.offer {
    flex-basis: calc(25% - 20px);
    min-width: 150px;
    background: grey;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}


.h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
}

.banner-midle {
    margin-top: 60px;
}

.view {
    position: relative;
    cursor: default;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff3b;
}
.view .mask {
    opacity: 0;
    transition: all .4s;
}

.view .mask:hover {
    opacity: 1;
}