$main-color: #c11818;

@import "flex";

//@media (min-width: 576px) {
//    .flex-container {
//        max-width: 540px;
//    }
//}
//
//@media (min-width: 768px) {
//    .flex-container {
//        max-width: 720px;
//    }
//}
//
//@media (min-width: 992px) {
//    .flex-container {
//        max-width: 960px;
//    }
//}
//
//@media (min-width: 1200px) {
//    .flex-container {
//        max-width: 1140px;
//    }
//}

.flex-container {
    @media (max-width: 575px) {
        max-width: 320px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.flex-row, .f-row {
    display: flex;
    @media (max-width: 320px) {
        min-width: 320px;
    }
}

.flex-header {
    flex-basis: 100%;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    background: #ff8800c4;
    /*border: 2px solid black;*/
}

.f-header {
    flex-basis: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ff8800c4;
    border: 2px solid;
}

.f-h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
	position: absolute;
    width: 100%;
    background: #c1731c;
    border-bottom: 2px solid;
    border-right: 2px solid;

}



.flex-left {
    flex-basis: 33%;
    height: 400px;
    padding-top: 30px;
    text-align: center;
    background: blue;
}

.f-left {
    flex-basis: 33%;
    height: 400px;
    padding-top: 30px;
    text-align: center;
    background: blue;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.flex-right {
    flex-basis: 67%;
    background: green;
    /*height: 400px;*/
}

.f-right {
    flex-basis: 67%;
    background: green;
    position: relative;
    /*height: 400px;*/
}

.full-height {
    height: 100%;
    flex-wrap: wrap;
    align-content: start;
}

.flex-col1, .flex-col2 {
    flex-basis: 50%;
    background: yellow;
    padding-top: 30px;
    text-align: center;
}

.f-col1, .f-col2 {
    flex-basis: 50%;
    background: yellow;
    //padding-top: 30px;
    text-align: center;
    padding-top: 70px;
    border-bottom: 2px solid;
    border-right: 2px solid;

}

@media (max-width: 770px) {
    .f-left, .f-right, .flex-left, .flex-right {
        flex-basis: 100%;
    }
}

//@media (max-width: 575px) {
//    .flex-container {
//        max-width: 320px;
//    }
//}

//@media (max-width: 320px) {
//    .flex-row, .f-row {
//        min-width: 320px;
//    }
//}



h1, .flex-left span,  .f-left span, .column-1 span {
    color: $main-color;
}

@mixin margin-v($x) {
    margin-top: $x;
    margin-bottom: $x;
}

@mixin margin-h($y) {
    margin-left: $y;
    margin-right: $y;
}

h1.main, h2.main {
    display: table;
    @include margin-h(auto);
}

h1.main {
    @include margin-v(50px);
}

h2.main {
    @include margin-v(30px);
}